apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: cluckyistaken/credit-risk-nginx:%IMAGE_TAG%
          ports:
            - containerPort: 80
            - containerPort: 443
          volumeMounts:
            - name: ssl-certs
              mountPath: /etc/ssl/certs
              readOnly: true
            - name: ssl-private
              mountPath: /etc/ssl/private
              readOnly: true
      volumes:
        - name: ssl-certs
          secret:
            secretName: nginx-ssl-secret
            items:
              - key: fullchain.pem
                path: fullchain.pem
        - name: ssl-private
          secret:
            secretName: nginx-ssl-secret
            items:
              - key: privkey.pem
                path: privkey.pem
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
  type: LoadBalancer
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      name: http
    - protocol: TCP
      port: 443
      targetPort: 443
      name: https
